fastapi[all]
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
sentence-transformers==2.5.1
faiss-cpu>=1.8.0
pypdf
python-docx
python-dotenv
doc2text
uvicorn
langchain-openai==0.1.25
langchain-text-splitters